@model IEnumerable<JobMatch.Models.Job>

@{
    ViewData["Title"] = "JobList";
}

<h1>Job List</h1>

<div class="container mb-3 mt-3">
    <div class="row">
@*         search the job
 *@        <div class="col-md-8">
            <form asp-action="Search" method="get">
                <input type="text" name="keyword" placeholder="Search jobs..." class="form-control d-inline" style="width: auto;" />
                <button class="btn btn-primary search-button" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
@*         display job data
 *@        <div class="col-md-3 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="@item.Image" class="card-img-top" alt="@item.Image" style="height: 100px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        <strong>Name:</strong> @item.Name<br />
                        <strong>Description:</strong>@item.Description<br />
                        <strong>Salary:</strong>$@item.Salary<br />
                        <strong>Company:</strong> @item.Company.Name<br />

                    </p>
                </div>
                <div class="card-footer text-center">

                    <a asp-action="Status" asp-controller="Jobs" asp-route-id="@item.Name" class="btn btn-primary"> Apply</a>                   
                  
            </div>
              
                
            </div>
        </div>
    }
</div>
