@model IEnumerable<JobMatch.Models.Job>

@{
    ViewData["Title"] = "Status";
}

<h2>Status</h2>

<div class="card">
@*       display job data
 *@
    @foreach (var item in Model){
    <img src="@item.Image" class="card-img-top" alt="Job Image" style="height: 200px; object-fit: cover;">
    <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p><strong>Description:</strong> @item.Description</p>
            <p><strong>Salary:</strong> $@item.Salary</p>
            <p><strong>Company:</strong> @item.Company.Name</p>
        </div> @*       display notification 
    *@
        <div class="card-footer text-center">
            <form method="post" asp-action="Status" asp-controller="Jobs" id="jobForm">
                <input type="hidden" name="id" value="@item.Id" />

                <button type="submit"
                        name="action"
                        value="Accept"
                        class="btn btn-success"
                        onclick="return showAlert('Công việc của User@gmail.com được Accept');">
                    Accept
                </button>

                <button type="submit"
                        name="action"
                        value="NotAccept"
                        class="btn btn-danger"
                        onclick="return showAlert('Công việc không được Accept');">
                    Not Accept
                </button>
                <script>
                    function showAlert(message) {
                        alert(message); // Hiển thị thông báo
                        return true; // Cho phép form tiếp tục submit
                    }
                </script>
            </form>
        </div>

    }
</div>
